div#content {
	background-image: url("/resources/images/global/background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

div#foot-navigation {
	background: #FF6600;
}

a.foot-navigation:visited,a.foot-navigation:link {
	background: #FF6600;
}

a.foot-navigation:hover {
	background: #FF6600;
}

div#top-navigation {
	padding-left: 200px;
	color: #33CCCC;
	background: #FF6600;
}

a.top-navigation:visited, a.top-navigation:link {
	color: #33CCCC;
	background: #FF6600;
}

a.top-navigation:hover {
	color: white;
	background: #FF6600;
}

div#copyright {
	background: #FF6600;
}

div#zone-image {
	background-image: url("/resources/images/global/topleft_carpets.gif");
	background-repeat: no-repeat;
}

a.inner-top-navigation:visited, a.inner-top-navigation:link {
	color: #33CCCC;
}
