div.edit-buttons {
	width: 100%;
	text-align: left;
}

div.edit-buttons input {
	margin: 5px;
}

input {
	background-color: none;
}

textarea {
	background-color: none;
	font-size: 10pt;
	border: none;
	width: 100%;
}

div.live-edit {
	text-align: left;
}

div.live-edit:hover {
	background-color: #f3fb98;
}

input.live-edit {
	border: none;
	width: 100%;
}

.active {
	background-color: #e6e6fa;
}

div.label {
	width: 60px;
	padding-right: 20px;
	font-weight: bold;
	text-align: left;
	float: left;
}
