div.edit-buttons {
	width: 100%;
	text-align: left;
}

div.edit-buttons input {
	margin: 5px;
}

input {
	background-color: none;
}

textarea {
	background-color: none;
	font-size: 10pt;
}

div.block-url:hover {
	background-color: #f3fb98;
}

input.block-url {
	border: none;
	width: 100%;
	font-size: 13pt;
	font-weight: bold;
	font-color: blue;
}


div.block-title:hover {
	background-color: #f3fb98;
}

input.block-title {
	border: none;
	width: 100%;
	font-size: 13pt;
	font-weight: bold;
}

div.block-date_ch:hover {
	background-color: #f3fb98;
}

input.block-date_ch {
	border: none;
	width: 100%;
}

div.block-text:hover {
	background-color: #f3fb98;
}

input.block-text {
	border: none;
	width: 100%;
}

textarea.block-text {
	border: none;
	width: 100%;
}

.active {
	background-color: #e6e6fa;
}

div.edit-element {
	text-align: left;
	float: left;
}

a.edit-element:link, a.edit-element:active,
a.edit-element:hover {
	color: red;
}

div#upload-image-div {
	clear: both;
}
