body {
	font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #A80030;
	margin: 0px;
	padding: 0px;
	min-width: 360px;
}

div.table-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

span.table-title {
	font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: red;
}

div.center {
	padding-top: 20px;
	/* width: 100%; */
	text-align: center;
}

a.no-decoration:link,a.no-decoration:hover,a.no-decoration:visited {
	text-decoration: none;
}

.blue {
	color: blue;
}

#container {
	clear: both;
	padding-left: 200px;
	padding-right: 0px;
}

#container .column {
	position: relative;
	float: left;
}

div#content {
	width: 100%;
	min-height: 300px;
	text-align: center;
}

div#zone-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 204px;
	height: 200px;
	z-index: 3;
}

div.dojo-tooltip {
	border: 1px red solid;
	width: 400px;
	height: 300px;
	position: absolute;
	z-index: 5;
}

/*	ToolTips */

.dojoTooltip {
	width: 400px;
}

div#tooltip-container {
	/* width: 400px; 
	max-width: 400px;
	padding: 5px;
	z-index: 10;
	text-align: center; */
	border: 2px #990099 solid;
	background-color: #FFFFCC;
	text-align: center;
}

img.image-tooltip-image {
/*	max-width: 390px; */
	display: inline;
}

div.tooltip-title {
	font-weight: bold;
	padding-bottom: 10px;
}

div.tooltip-author {
	color: blue;
	padding-top: 10px;
}

/* SlideShowRack */

div#rack {
	width: 730px;
	margin-left: auto; margin-right: auto;
}

div#slideshow {
	display: none;
	margin-left: auto; margin-right: auto;
	width: 730px;
}

div.multimedia-buttons {
	clear: both;
	margin-top: 20px;
}

div.image-container {
	width: 370px;
	height: 370px;
	overflow: hidden;
	float: left;
	line-height: 370px;
	font-size: 296px;
	text-align: left;
	vertical-align: top;
}

img.image-container-image {
	top: 0px;
	left: 0px;
	padding-top: 4px;
	max-width: 360px;
	max-height: 340px;
	height:expression(this.width > this.height ? "auto" : "360px");
	width:expression(this.width > this.height ? "340px" : "auto");
}

div.image-title-container {
	top: 0px;
	left: 0px;
	text-align: left;
}

div.image-title-container span {
	font-size: 10pt;
	color: black;
	margin-left: -360px;
}

div.thumb-container {
	margin-left: 5px;
	width: 350px;
	height: 350px;
	overflow: hidden;
}

div.thumb-container img {
	margin: 5px;	
}

a.serie-link:link, a.serie-link:visited, a.serie-link:hover {
	text-decoration: none;
}

div#serie-links {
	margin: auto;
	padding-top: 20px;
	text-align: center;
	width: 650px;
}

img.slideshow-control-image {
	border: none;
	padding-bottom: 5px;
	display: inline;
}

div#rack-slideshow {
	display: none;
}

div.rack-container {
	width: 770px;
	height: 370px;
	margin-left: auto; margin-right: auto;
	overflow: hidden;
}

div#no-works {
	font-size: 10pt;
}

div.hidden-div {
	text-align: center;
	display: none;
}

div.hidden-div img {
	padding: 5px;
	display: block;
	margin-left: auto; margin-right: auto;
}

span.hide-hidden-div-link {
	display: block;
	padding: 5px;
}

div#login-form {
	text-align: left;
	color: black;
	width: 300px;
	padding-top: 100px;
	margin-left: auto; margin-right: auto;
}

div.admin-action {
 	position: absolute;
 	margin-left: -40px;
}

a.admin-action:link, a.admin-action:visited, a.admin-action:hover {
	color: red;
	padding-left: 10px;
	text-decoration: none;
	font-weight: normal;
}

div.edit-displayelement {
	color: black;
	width: 700px;
	text-align: left;
	margin-left: auto; margin-right: auto;
	padding-top: 5px;
}

div.edit-displayelement label {
	display: block;
	float: left;
	width: 110px;
}

div#show-container {
	width: 700px;
	margin-left: auto; margin-right: auto;
}

div#rack-result-list-composite {
	width: 800px;
	margin-left: -57px;
}

table#result-list-column-names {
	padding-top: 20px;
	width: 800px;
	margin-left: auto; margin-right: auto;
	text-align: left;
}

table#result-list-column-names td {
	font-weight: bold;
	color: white;
	/*background-color: #990099;*/
}

table.result-list {
	width: 800px;
	margin-left: auto; margin-right: auto;
	text-align: left;
}

table.result-list th {
	font-weight: normal;
	/*background-color: #FF33FF;*/
	color : #FFFFFF;
}

table.result-list td {
	color: black;
}

table.result-list a:link, a:visited, a:hover {
	text-decoration: none;
	color: blue;
}

td.result-title, td.result-title-bg {
	width: 200px;
}

td.result-year, td.result-year-bg {
	width: 40px;
}

td.result-tool, td.result-tool-bg {
	width: 110px;
}

td.result-material, td.result-material-bg {
	width: 110px;
}

td.result-size, td.result-size-bg {
	width: 90px;
}

td.result-country, td.result-country-bg {
	width: 120px;
}

td.result-serie, td.result-serie-bg {
	width: 80px;
}

div#artobject-outer-composite {
	margin-top: 20px;
	width: 600px;
	height: 20px;
	margin-left: auto; margin-right: auto;
}

div#artobject-pager {
	color: black;
	float: left;
}

div#artobject-pager span {
	padding-right: 5px;
}

div#artobject-back-link {
	padding-top: 2px;
	text-align: right;
}

div#artobject-back-link a:link, div#artobject-back-link a:visited,
div#artobject-back-link a:hover {
	text-decoration: none;
}

div#artobject-inner-composite {
	width: 600px;
	margin-left: auto; margin-right: auto;
}

div#artobject-title {
	padding-top: 2px;
	width: 100%;	
	height: 18px;
	/*background-color: #990099;*/
	font-weight: bold;
	text-align: left;
	color: white;
}

div#artobject-subtitle-left {
	padding-top: 2px;
	height: 18px;
	float: left;
	/*background-color: #FF33FF;*/
	text-align: left;
	color: white;
	margin-right: -10px; 
	border: none;
}

div#artobject-subtitle-right {
	padding-top: 2px;
	height: 18px;
	/*background-color: #FF33FF;*/
	text-align: right;
	color: white;
	margin-left: 0px;
	border: none;
}

div#artobject-image {
	padding-top: 10px;
	float: left;
}

div#artobject-google-video-url {
	text-align: left;
	color: black;
	clear: both;
}

img#artobject-image {
	max-width: 350px;
	max-height: 350px;
	height:expression(this.width > this.height ? "auto" : "350px");
	width:expression(this.width > this.height ? "350px" : "auto");
}

div#artobject-details {
	color: black;
	text-align: right; 
}

div#artobject-text {
	padding-top: 10px;
	text-align: left;
	clear: both;
	color: black;
}

span.breadcrumbs a:link, span.breadcrumbs a:visited,
span.breadcrumbs a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
