body {
	font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #A80030;
	margin: 0px;
	padding: 0px;
	min-width: 360px;
}

div.table-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

span.table-title {
	font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: red;
}

div.center {
	padding-top: 20px;
	/* width: 100%; */
	text-align: center;
}

a.no-decoration:link,a.no-decoration:hover,a.no-decoration:visited {
	text-decoration: none;
}

.blue {
	color: blue;
}

#container {
	clear: both;
	padding-left: 200px;
	padding-right: 0px;
}

#container .column {
	position: relative;
	float: left;
}

div#content {
	width: 100%;
	min-height: 300px;
	text-align: center;
}

div#zone-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 204px;
	height: 200px;
	z-index: 3;
}

div.dojo-tooltip {
	border: 1px black solid;
	width: 400px;
	height: 300px;
	position: absolute;
	z-index: 5;
}

/*	ToolTips */

.dojoTooltip {
	width: 400px;
}

div#tooltip-container {
	/* width: 400px; 
	max-width: 400px; */
	padding: 5px;
	z-index: 10;
	border: 2px #990099 solid;
	background-color: #FFFFCC;
	text-align: center;
}

img.image-tooltip-image {
/*	max-width: 390px; */
	display: inline;
}

div#poem-tooltip-container {
	width: 250px;
	padding: 5px;
	z-index: 10;
	border: 2px #990099 solid;
	background-color: #FFFFCC;
	text-align: center;
}

div.poem-tooltip-title {
	font-weight: bold;
	padding-bottom: 10px;
}

div.poem-tooltip-author {
	color: blue;
	padding-top: 10px;
}

/* SlideShowRack */

div#rack {
	width: 730px;
	margin-left: auto; margin-right: auto;
}

div#slideshow {
	display: none;
	margin-left: auto; margin-right: auto;
	width: 730px;
}

div.multimedia-buttons {
	clear: both;
	margin-top: 20px;
}

div#image-container {
	width: 370px;
	height: 370px;
	overflow: hidden;
	float: left;
	line-height: 370px;
	font-size: 296px;
	text-align: left;
	vertical-align: top;
}

img#image-container-image {
	top: 0px;
	left: 0px;
	padding-top: 4px;
/*	max-width: 350px;
	max-height: 350px; */
	height:expression(this.width > this.height ? "auto" : "360px");
	width:expression(this.width > this.height ? "360px" : "auto");
}

div#image-title-container {
	top: 0px;
	left: 0px;
	text-align: left;
}

div#image-title-container span {
	font-size: 10pt;
	color: black;
	margin-left: -360px;
}

div#thumb-container {
	margin-left: 5px;
	width: 350px;
	height: 350px;
	overflow: hidden;
}

div.thumb-container {
	overflow: hidden;
	float: left;
}

a.serie-link:link, a.serie-link:visited, a.serie-link:hover {
	text-decoration: none;
}

div#serie-links {
	margin: auto;
	padding-top: 20px;
	text-align: center;
	width: 650px;
}

img.slideshow-control-image {
	border: none;
	padding-bottom: 5px;
	display: inline;
}

div#rack-container {
	width: 100%;
	height: 370px;
	overflow: hidden;
}

div#no-works {
	font-size: 10pt;
}

div.hidden-div {
	text-align: center;
	display: none;
}

div.hidden-div img {
	padding: 5px;
	display: block;
	margin-left: auto; margin-right: auto;
}

span.hide-hidden-div-link {
	display: block;
	padding: 5px;
}
