div#top_navigation {
  padding-left: 200px;
}

div#content {
  background-image:    url("/resources/images/global/background.jpg");
  background-position: top center;
  background-repeat:   no-repeat;
}

div#top_navigation {
  background:   #f1171d;
  color:        white;
  padding-left: 200px;
}

a.top-navigation:visited,
a.top-navigation:link {
  background: #f1171d;
  color:      white;
}

a.top-navigation:hover {
  background: #f1171d;
  color:      blue;
}

div#foot_navigation {
  background: #f1171d;
}

a.foot-navigation:visited
a.foot-navigation:link {
  background: #f1171d;
}

a.foot-navigation:hover {
  background: #f1171d;
}

div#copyright {
  background: #f1171d;
}

div#zone_image {
  background-image: url("/resources/images/global/topleft.gif");
  background-repeat: no-repeat;
}

div.oneliner {
  font:        bold 16pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding-top: 15px;
  text-align:  center;
}

.center {
  margin-left:  auto;
  margin-right: auto;
  text-align:   center;
}

div#gallery_navigation {
  padding-bottom: 40px;
  width:          600px;
  height:         40px;
  margin-left:    auto;
  margin-right:   auto;
}

div#new_search {
  padding-top:  20px;
  width:        600px;
  height:       30px;
  margin-left:  auto;
  margin-right: auto;
}

a.gallery-navigation:link,
a.gallery-navigation:visited,
a.gallery-navigation:hover {
  font-weight:     bold;
  text-decoration: none;
  color:           blue;
}

div#close_x {
  width:        700px;
  margin-left:  auto;
  margin-right: auto;
  text-align:   right;
  z-index:      10;
}

div#close_x a:link,
div#close_x a:hover,
div#close_x a:visited {
  text-decoration: none;
  color:           black;
  font-weight:     bold;
}

table#result_list_column_names td {
  background-color: #f1171d;
}

table.result-list th {
  background-color: #F96C70;
}

td.result-title-bg,
td.result-year-bg,
td.result-tool-bg,
td.result-material-bg,
td.result-size-bg,
td.result-country-bg,
td.result-serie-bg {
  background-color: #F6BFC0;
}

div#artobject_title {
  background-color: #f1171d;
}

div#artobject_subtitle_left,
div#artobject_subtitle_right {
  background-color: #F96C70;
}

div.gallery-table-title {
  padding-top: 20px;
}

div#element_container,
div.element_container,
div.tooltip-note {
  width:        700px;
  margin-left:  auto;
  margin-right: auto;
}

.tooltip-title {
  font-weight: bold;
  padding:     20px 0;
  font:        12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  color:       red;
}

.block-tooltip-word {
  text-align: left;
  width:      100%;
  margin:     9px 0 3px 0;
  size:       1.3em;
}
