div#content {
	background-image:    url("/resources/images/global/background.jpg");
	background-position: top center;
	background-repeat:   no-repeat;
}

div#top_navigation {
	color:        #DAA520;
	background:   #CC0066;
	padding-left: 200px;
}

a.top-navigation:visited,
a.top-navigation:link {
	color:      #DAA520;
	background: #CC0066;
}

a.top-navigation:hover {
	color:      white;
	background: #CC0066;
}

div#foot_navigation {
	background: #CC0066;
}

a.foot-navigation:visited,
a.foot-navigation:link {
	background: #CC0066;
}

a.foot-navigation:hover {
	background: #CC0066;
}

div#copyright {
	background: #CC0066;
}

div#zone_image {
	background-image:  url("/resources/images/global/topleft_paintings.gif");
	background-repeat: no-repeat;
}

table#result_list_column_names td {
	background-color: #CC0066;
}

table.result-list th {
	background-color: #F8409B;
}

td.result-title-bg,
td.result-year-bg,
td.result-tool-bg,
td.result-material-bg,
td.result-size-bg,
td.result-country-bg,
td.result-serie-bg {
	background-color: #FDDFEE;
}

div#artobject_title {
	background-color: #CC0066;
}

div#artobject_subtitle_left,
div#artobject_subtitle_right {
	background-color: #F8409B;
}
