<Directory /var/www/new.davaz.com/doc>
Options ExecCGI
AllowOverride None
Order allow,deny
Allow from all
</Directory>

<VirtualHost *:80>
LogLevel debug
ServerName www.davaz.com
ServerAlias davaz.com da-vaz.com www.da-vaz.com
DocumentRoot         /var/www/new.davaz.com/doc
SetEnv DOCUMENT_ROOT /var/www/new.davaz.com/doc
DirectoryIndex index.html index.rbx
RewriteEngine on
RewriteRule ^/(.*)$ http://localhost:8007/$1 [P]

ErrorLog  "|/usr/sbin/cronolog -l /var/www/new.davaz.com/log/error_log /var/www/new.davaz.com/log/%Y/%m/%d/error_log"
CustomLog "|/usr/sbin/cronolog -l /var/www/new.davaz.com/log/access_log /var/www/new.davaz.com/log/%Y/%m/%d/access_log" combined
</VirtualHost>

<Directory "/var/www/new.davaz.com/webalizer">
Options None
AllowOverride None
Order allow,deny
Allow from all
</Directory>

<VirtualHost *:80>
DocumentRoot /var/www/new.davaz.com/webalizer
ServerName webalizer.davaz.com
DirectoryIndex index.html
</VirtualHost>
