<Directory /var/www/davaz.com/doc>
  Options ExecCGI
  AllowOverride None
  Order allow,deny
  Allow from all
</Directory>

<VirtualHost *:80>
  ServerName 127.0.0.1

  DocumentRoot /var/www/davaz.com/doc
  DirectoryIndex index.html index.rbx

  RubyAddPath /var/www/davaz.com/.bundle/gems/ruby/2.3.0/gems/rclconf-1.0.0/lib
  RubyAddPath /var/www/davaz.com/.bundle/gems/ruby/2.3.0/gems/sbsm-1.2.8/lib
  RubyAddPath /var/www/davaz.com/src

  RubyRequire 'util/trans_handler'
  SetHandler ruby-object
  RubyTransHandler DAVAZ::Util::TransHandler.instance

  ErrorLog  "|/usr/sbin/cronolog -l /var/www/davaz.com/log/error_log  /var/www/davaz.com/log/%Y/%m/%d/error_log"
  CustomLog "|/usr/sbin/cronolog -l /var/www/davaz.com/log/access_log /var/www/davaz.com/log/%Y/%m/%d/access_log" combined
</VirtualHost>
